<!DOCTYPE html>
<html>
    <head>
        {% include site-head.html %}
    </head>
    <body class="{{ site.snet.color_theme }}">
        <div class="container-fluid">
            <!-- HEADER -->
            <div class="header">
                <div class="wrapper">
                    <!-- HEADER -->
                    {% include site-header.html %}
                </div>
            </div>
            <div class="header-bottom-line"></div>
            <!-- CATEGORY HEADING -->
            <div class="category-heading-container">
                <div class="row wrapper">
                    <div class="col-md-8">
                        <h3>{{ page.title }}</h3>
                    </div>
                    <div class="col-md-4 text-right">
                        <div class="search-container">
                            <input type="search" name="Search">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- BREADCRUMS DIV -->
            <div class="breadcrumbs-container">
                <div class="wrapper">
                    {% capture url_tree %}
                    {{ page.url | replace: '/', ' ' | strip }}
                    {% endcapture %}
                    {% capture url_level %}
                    {{ url_tree | number_of_words | minus: 1 }}
                    {% endcapture %}
                    {% assign breadcrumb = url_tree | split: ' ' %}
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ site.baseurl }}">Home</a>
                        </li>
                        {% for item in breadcrumb %}
                        {% assign label = item | replace: '-', ' ' | capitalize %}
                        {% assign index = forloop.length | minus: forloop.index %}
                        {% assign page_url = page.url | split: '/' | pop: index | join: '/' %}
                        <li class="breadcrumb-item">
                            {% if forloop.last %}
                            <span>{{ page.breadcrumb_label | default: label }}</span>
                            {% else %}
                            <a href="{{ page_url }}/">{{ label }}</a>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!-- CATEGORY CONTENT -->
            <div class="category-content-container">
                <div class="row wrapper">
                    <div class="category-article-list col-md-3">
                        <ul>
                            {% assign path_crumbs = page.path | split: "/" %}                          
                                {% case path_crumbs[0] %}
                                    {% when 'docs' %}
                                        {% case path_crumbs[1] %}
                                            {% when 'concepts' %}
                                                {% assign nav_tree = site.data.navigation.concepts %}
                                            {% when 'provider.md' %}
                                                {% assign nav_tree = site.data.navigation.provider %}
                                            {% when 'buyer.md' %}
                                                {% assign nav_tree = site.data.navigation.buyer %}
                                            {% else %}
                                                {% assign nav_tree = site.data.navigation.docs %}                                      
                                        {% endcase %}            
                                    {% when 'tutorials' %}
                                        {% assign nav_tree = site.data.navigation.tutorials %}
                                    {% when 'contribute' %}
                                        {% assign nav_tree = site.data.navigation.contribute %}                                        
                                    {% else %}
                                         {% assign nav_tree = nil %}
                                    {% endcase %}  
                                       <!-- <li class="list-inline">
                                            <a href="{{ path_crumbs[0] }}">{{ path_crumbs[0] }}</a>
                                        </li> 
                                        <li class="list-inline">
                                            <a href="{{ nav_tree }}">{{ nav_tree }}</a>
                                        </li>                                    -->
                                {%if nav_tree %}                                                                           
                                    {% for menu in nav_tree %}
                                        <li class="list-inline">
                                            <a href="{{ menu[1].url }}">{{ menu[1].title }}</a>
                                        </li>
                                    {% endfor %}
                            {% endif %}
                        </ul>
                        <a href='{{ site.url }}' title="Back to Categories" class="back-to-categories-link">Back to Categories</a>
                    </div>

                    <div class="category-main-content col-md-9">

                        <div class="row category-main-content-wrapper page-topic-posted-date-container">
                            <div class="col-md-8 page-title">
                                <h3>{{ page.title }}</h3>
                            </div>
                            <div class="col-md-4 posted-date">
                                <span>Posted on: 
                                    {% last_modified_at %}  
                                </span>
                            </div>
                        </div>

                        <div class="row category-main-content-wrapper describtion-container">
                            <div class="col-md-12 page-topic-describtion">
                                <p>{{ page.description }}</p>
                            </div>
                        </div>

                        <hr>

                        <div class="row category-main-content-wrapper">
                            <div class="col-md-12 discussed-page-title">
                                <h4>Discussed on this page:</h4>
                                <div class="anchor-link-list">
                                    <div class="sections-list js-sections">

                                    </div>                                
                                </div>
                            </div>
                        </div>

                        <hr>

                        <div class="row category-main-content-wrapper">
                            <div class="col-md-12 left-section">
                                <div>
                                    {{ content }}
                                </div>    
                            </div>
                            <div class="col-md-3 d-none">
                                <div class="related-links-container">
                                    <h5>Related Links</h5>
                                    <ul>
                                        <li>
                                            <a href="#" title="Related Link One">Related Link One</a>
                                        </li>
                                        <li>
                                            <a href="#" title="Related Link Two">Related Link Two</a>
                                        </li>
                                        <li>
                                            <a href="#" title="Related Link Three">Related Link Three</a>
                                        </li>
                                        <li>
                                            <a href="#" title="Related Link Four">Related Link Four</a>
                                        </li>
                                        <li>
                                            <a href="#" title="Related Link Five">Related Link Five</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="general-links-container">
                                    <h5>General Links</h5>
                                    <ul>
                                        <li>
                                            <a href="#" title="F.A.Q">F.A.Q</a>
                                        </li>
                                        <li>
                                            <a href="#" title="Community">Community</a>
                                        </li>
                                        <li>
                                            <a href="#" title="Common Errors">Common Errors</a>
                                        </li>
                                        <li>
                                            <a href="#" title="Softwares">Softwares</a>
                                        </li>
                                        <li>
                                            <a href="#" title="Feedback">Feedback</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8 category-content-btns">
                                {% if page.page_nav.prev.url%}
                                <a href="{% if jekyll.environment == 'production' %}{{ site.snet.baseurl }}{% endif %}{{ page.page_nav.prev.url }}">Previous Article</a>
                                {% endif %}        
                                {% if page.page_nav.next.url%}
                                <a href="{% if jekyll.environment == 'production' %}{{ site.snet.baseurl }}{% endif %}{{ page.page_nav.next.url }}">Next Article</a>
                                {% endif %}
                            </div>
                        </div>

                        <div class="col-md-4"></div>

                    </div>
                </div>
            </div>
            <!-- FOOTER STARTS -->
            {% include site-footer.html %}
            <!-- FOOTER ENDS
            -->

        </div>
    </body>
</html>
